<h1>Create a new Client</h1>

<%= form_for @client do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :contact %>:
  <%= f.text_field :contact %><br />

  <%= f.submit %>
<% end %>

<br>
<%= button_to('CANCEL', clients_path, method: :get, class: 'btn btn-danger') %>
