<h1>Create a new Location</h1>

<%= form_for @location, url: client_locations_path(params[:client_id]) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :internal_code %>:
  <%= f.text_field :internal_code %><br />

  <%= f.label :direction %>:
  <%= f.text_field :direction %><br />

  <%= f.label :postal_code %>:
  <%= f.text_field :postal_code %><br />

  <%= f.label :hour_in %>:
  <%= f.time_field :hour_in %><br />

  <%= f.label :hour_out %>:
  <%= f.time_field :hour_out %><br />

  <%= f.label :contact %>:
  <%= f.text_field :contact %><br />

  <%= f.label :route %>:
  <%= f.text_field :route %><br />

  <%= f.submit %>
<% end %>

<br>
<%= button_to('CANCEL', client_locations_path(@client), method: :get, class: 'btn btn-danger') %>
