<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? "#{@title} | Trazapp" : "Trazapp" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body <%= @body_onload ? "onload='#{@body_onload}'".html_safe : "" %>>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Trazapp</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/">Page 1</a></li>
          <li><a href="/">Page 2</a></li>
          <% if current_user %>
            <li><%= link_to(current_user.email,  clients_path, method: :get, class: 'glyphicon glyphicon-user') %></li>
            <li><%= link_to('Log-Out',  destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out') %></li>
          <% else %>
            <li><%= link_to('Log-In',  new_user_session_path, method: :get, class: 'glyphicon glyphicon-log-in') %></li>
          <% end %>
          <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
