<!DOCTYPE html>
<html>
  <head>
    <title>Trazapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-default">TRY IT</button>
          </div>
          <div class="col-md-6 ">
            <h2 id="appName">Trazapp</h2>
          </div>
          <div class="col-md-3">
            <% if current_user %>
              <%= current_user.email%>
              <%= link_to 'Log Out',  destroy_user_session_path, method: :delete %> |
              <%= link_to 'Dashboard',  clients_path, method: :get %>
            <% else %>
              <%= link_to 'Log In', new_user_session_path, method: :get %> |
              <%= link_to 'Sign Up', new_user_registration_path, method: :get %>
            <% end %>
          </div>

        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
